<!DOCTYPE html>

<head>
	<link href="https://fonts.googleapis.com/css?family=Monoton|Roboto" rel="stylesheet">
	<%= stylesheet_link_tag "pages/home.css", :media => "all" %>
	<%= javascript_include_tag "pages/home.js" %>
  <% @title="CyDorm Log In" %>
</head>

<body>

	<div class="container">

		<h1 class="logo">CyDorm</h1>

		<div class="loginform">
			<form> 
				<div id="#loginTextContainer">

					<h1 class="centerRoboto" id="loginText">Log In</h1>

				</div>
				<input type="text" name="netid" placeholder="Net-ID">
				<input type="text" name="password" placeholder="Password">

				<button class="loginButton">Log In</button>

				<a href="#" class="centerRoboto" id="forgotPasswordText">Forgot Password?</a>
			</form>

		</div>

		<p id="registerText">Don't have an account? <a href="#" id="registerText">Sign Up</a></p>

	</div>



</body>