<!DOCTYPE html>

<head>
	<link href="https://fonts.googleapis.com/css?family=Monoton|Roboto" rel="stylesheet">
  	<link rel="stylesheet" type="text/css" href="/css/navbar.css">
	
  	<title>CyDorm Log In</title>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">


  	<meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>

	<ul>
		<div class="left">
			<li><a href="/navbar" class="cyDormNavbar">CyDorm</a></li>
			<li><a href="/disputes" class="logOutNavbar">Disputes</a></li>
			<li><a href="/groceries" class="logOutNavbar">Groceries</a></li>
			<li><a href="/navbar" class="logOutNavbar">Chores</a></li>
		</div>
		<div class="right">
			<li><a href="/settings" class="settingsNavbar"><i class="fa fa-cog" aria-hidden="true"></i></a></li>
			<li><a href="#" class="logOutNavbar">Log Out</a></li>
		</div>
	</ul>

	<div class="container">
		<div class="content col100">
			<div class="colHeader">
					<a href="/chores" class="colHeaderTxt">Chores</a>
			</div>
		</div>
	</div>

</body>