<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
	<link href="https://fonts.googleapis.com/css?family=Monoton|Roboto" rel="stylesheet">
  	<link rel="stylesheet" type="text/css" href="/css/login.css">
	
  	<title>CyDorm Log In</title>
</head>

<body>

	<div class="container">

		<h1 class="logo">CyDorm</h1>

		<div class="loginform">
			<form th:action="@{/login}" method="POST"> 
				<div id="#loginTextContainer">

					<h1 class="centerRoboto" id="loginText">Log In</h1>

				</div>
				<input type="text" id="netID" name="netID" placeholder="Net-ID">
				<input type="password" id="password" name="password" placeholder="Password">

				<button class="loginButton" type="Submit">Log In</button>

				<a href="#" class="centerRoboto" id="forgotPasswordText">Forgot Password?</a>
			</form>

		</div>

		<p id="registerText">Don't have an account? <a href="#" id="registerText">Sign Up</a></p>

	</div>



</body>